.siteHeader {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.siteHeader_section {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 15px;
}
.siteHeader_button {
    margin: 10px;
    color: #4D5354;
    font-size: 13px;
}




